<h1><%= @title %></h1>
<ul>
	<% @langs.each do |lang| %>
		<li><%= lang %></li>
	<% end %>
</ul>

<table>
	<tr>
		<td>Id</td>
		<td>Title</td>
		<td>Page</td>
		<td>Description</td>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<td><%= book.id %></td>
			<td><%= book.title %></td>
			<td><%= book.page %></td>
			<td><%= book.description %></td>
		</tr>
	<% end %>
</table>